
.select2-selection__choice{
    background-color: #332FD0 !important;
    color: white !important;
}

.btn-rounded{
    border-radius: 45px;
}

.text-center{
    text-align: center;
}
/* @font-face {
    font-family: "Poppins";
    src: url("/fonts/Poppins-Regular.ttf");
}
@font-face {
    font-family: "Roboto";
    src: url("/fonts/Roboto-Regular.ttf");
}


* {
    font-family: "Roboto";
} */

.bl-2{border-left: solid 2px #bdc3c7 !important}
.br-2{border-right: solid 2px #bdc3c7 !important}
.bt-2{border-top: solid 2px #bdc3c7 !important}
.bb-2{border-bottom: solid 2px #bdc3c7 !important}
.b-2{border: solid 2px #bdc3c7 !important}
th{
    text-align: center;
}

.bl-1{border-left: solid 1px black !important}
.br-1{border-right: solid 1px black !important}
.bt-1{border-top: solid 1px black !important}
.bb-1{border-bottom: solid 1px black !important}
.b-1{border: solid 1px black !important}